body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.orange-text{
    color: orange;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible-content{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 80%;
    padding-top: 5%;
}
.link-button{
    background-image: linear-gradient(red, orange);
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position:right
        
}
.text-padding{
        margin-right: 50px;
        text-align: justify;
}
.experience-area{
    margin:80px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    
}
.experience-item{
    box-shadow: 15px 10px 40px gray;
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;  
    margin-right: 5%;
    padding: 20px;

}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(salmon , red);
    border-image-slice: 1;
}
#baby-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue , cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    padding-bottom: 5px;
}