body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.orange-text{
    color: orange;
}

h1{
    font-size: 50px;
}
.flexible-content{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 80%;
    padding-top: 5%;
}
.link-button{
    background-image: linear-gradient(red, orange);
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position:right
        
}
.text-padding{
    padding-right: 25%;
    text-align: justify;
}